.hidden {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 400px;
    padding: 20px;
    margin: auto;
}

.title {
    display: inline-block;
    color: #875a7b;
    font-size: 20px;
}

h2 {
    color: #875a7b;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(107, 29, 107, 0.5);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #875a7b;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
    padding: 10px;
}

.task-tags span {
    color: #000;
    background-color: antiquewhite;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 14px;
    font-weight:600;
    line-height: 1.2;
    margin-bottom: 10px;
    display: inline-block;
}

.card {
    position: relative;
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
}

.card::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border-radius: 5px;
    z-index: -1;
}

.card a {
    color: #007bff;
    text-decoration: none;
}

.card a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.card, #loading {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#loading {
    border-radius: 30px;
    padding: 2px;
    margin-left: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

button {
    margin-bottom: 10px;
}

#tag-filters .form-check {
    margin-left: 10px;
}
