.hidden {
    display: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}
.container {
    max-width: 400px;
    padding: 20px;
    margin: auto;
}
.title {
    color: #875a7b;
    font-size: 20px;
    margin-bottom: 10px;
}
.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.card a {
    color: #007bff;
    text-decoration: none;
}
.error {
    color: red;
    font-size: 14px;
}

button {
    margin-bottom: 10px;
}

h2 {
    color: #875a7b;
    text-shadow: 1px 1px 1px purple;
}

#chargement {
    background-color: #fff;
    border-radius: 1px;
    padding: 2px;
    margin-left: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
